@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
  margin-top: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.img-circle {
  width: 225px;
  height: 225px;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.img-circle img {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: 5px solid;
  box-shadow: 2px 4px 20px 0px rgba(0,0,0,0.5);
}

  .card-white {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 11px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.3);
  }

  h1 {
    font-family: 'Ubuntu';
    font-size: 35px;
    font-weight: 700; /* if you want the light version */
    color: #FFD500;
    margin-bottom: 15px;
  }

  h2 {
    font-family: 'Ubuntu';
    font-size: 22px;
    font-weight: 700; /* if you want the light version */
    color: white;
    margin: 0px 0px 0px 0px;
  }

  body {
  background-image: url('images/6226671_Fondo.png');
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: 'Ubuntu';
  font-weight: 300; /* if you want the light version */
  font-size: 20px;
  color: white;
  text-align: center;
}

#hobby-icons, #hobby-list{
  display: inline-block;
  height: 300%;
  }

#hobby-icons{
  width: 20px;
  padding-right: 10px;
}

#hobby-list{
  width: 300px;
}

dt{
  text-align: left;
  line-height: 0.3;
  margin: 25px 0px 0px 10px;
}

.btn-violet {
  border: none;
  border-radius: 20px;
  background-color: violet;
  padding: 10px 30px;
  color: #560BAD;
  font-family: 'Ubuntu';
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 11px;
  transition-duration: 0.4s;
  cursor: pointer;}

#follow {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #FFD500;
  margin-bottom: 10px;
}

.list-inline > a {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
